@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.custom-bg {
  background: url('../assets/Group196.png');
}

.curvy {
  font-family: 'Gochi Hand', cursive;
  color: #828282;
}
